<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.realworld.conduit.infrastructure.mybatis.mapper.ArticleMapper">
  <resultMap id="article" type="com.realworld.conduit.domain.object.Article">
    <id column="id" property="id"/>
    <result column="user_id" property="userId"/>
    <result column="slug" property="slug"/>
    <result column="title" property="title"/>
    <result column="description" property="description"/>
    <result column="body" property="body"/>
    <result column="created_at" property="createdAt"/>
    <result column="updated_at" property="updatedAt"/>
  </resultMap>
</mapper>
